<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.food.recommend.persist.dao.StoreRemindMapper">
  <resultMap id="BaseResultMap" type="com.tencent.food.recommend.persist.model.StoreRemind">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="created_date" jdbcType="BIGINT" property="createdDate" />
    <result column="remind_date" jdbcType="BIGINT" property="remindDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_date, remind_date, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store_remind
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from store_remind
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tencent.food.recommend.persist.model.StoreRemind"
    useGeneratedKeys="true" keyProperty="id">
    insert into store_remind (created_date, remind_date,
      remarks)
    values (#{createdDate,jdbcType=BIGINT}, #{remindDate,jdbcType=BIGINT},
      #{remarks,jdbcType=VARCHAR})
  </insert>



  <insert id="insertSelective" parameterType="com.tencent.food.recommend.persist.model.StoreRemind">
    insert into store_remind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="remindDate != null">
        remind_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=BIGINT},
      </if>
      <if test="remindDate != null">
        #{remindDate,jdbcType=BIGINT},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tencent.food.recommend.persist.model.StoreRemind">
    update store_remind
    <set>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=BIGINT},
      </if>
      <if test="remindDate != null">
        remind_date = #{remindDate,jdbcType=BIGINT},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tencent.food.recommend.persist.model.StoreRemind">
    update store_remind
    set created_date = #{createdDate,jdbcType=BIGINT},
      remind_date = #{remindDate,jdbcType=BIGINT},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertAndGetId" keyProperty="id" parameterType="com.tencent.food.recommend.persist.model.StoreRemind" useGeneratedKeys="true">
    insert into store_remind (created_date,
                              remind_date,
                              remarks)
    values (#{createdDate,jdbcType=BIGINT},
            #{remindDate,jdbcType=BIGINT},
            #{remarks,jdbcType=VARCHAR})
  </insert>

  <select id="selectByPersonId" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--    select-->
    <!--    &lt;include refid="Base_Column_List" /&gt;-->
    <!--    from food-->
    <!--    where id = #{id,jdbcType=INTEGER}-->

    SELECT * FROM store_remind WHERE
    id in(
    SELECT store_remind_id
    FROM person_store_remind
    WHERE open_id= #{id,jdbcType=VARCHAR})
  </select>
</mapper>